<!DOCTYPE html>
<html>
<head>
<title>{{title}}</title>
<meta charset="utf-8">

<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="{{url_for("authentication.static",filename="css/style.css")}}" rel='stylesheet' type='text/css' />

<meta name="viewport" content="width=device-width, initial-scale=1">
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--webfonts-->
<link href='//fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
<style>
	.row{
  margin-top: 0px;
  margin-bottom: 0px;
}

#captchaGoogle{
	margin-bottom: 0;
	margin-top: 0;
	margin-left: 45;
	margin-right: 0;
	margin: 18px 23px;
}
.checkbox{
	margin: 18px 30px;
	margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}
#member{
margin: 18px 43px;
	margin-top: 25px;
  margin-bottom: 0px;	
  color: white;
}
.copy-right{
	margin-top: 5px;
  margin-bottom: 0px;
  font-size: 0.5em;
}
</style>
<!--//webfonts-->
</head>
<body>
<div class="main">
	<div class="social-icons">
		 <div class="col_1_of_f span_1_of_f"><a href="{{url_for('authentication.AuthenticationView:facebooklogin')}}">
		    <ul class='facebook'>
		    	<i class="fb"> </i>
		    	<li>Connect with Facebook</li>
		    	<div class='clear'> </div>
		    </ul>
		    </a>
		 </div>	
		 <div class="col_1_of_f span_1_of_f"><a href="{{url_for('authentication.AuthenticationView:twitterlogin')}}">
		    <ul class='twitter'>
		      <i class="tw"> </i>
		      <li>Connect with Twitter</li>
		      <div class='clear'> </div>
		    </ul>
		    </a>
		</div>
		<div class="clear"> </div>	
      </div>
    
	
		<div class="row" id="member" align="center">
		Already came here? <a href="{{ url_for('authentication.AuthenticationView:signin') }}" id="join" data-type="text" data-url="">Login</a>
		<!-----//end-main---->
		</div>
				<!-----//end-copyright---->
</body>
</html>