<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Crowdkast</title>
        <!-- Mainly scripts -->
        <script src="{{url_for("static",filename="js/jquery-2.1.1.js")}}"></script>
        <script src="{{url_for("static",filename="js/bootstrap.min.js")}}"></script>
        <link href="{{url_for("static",filename="css/bootstrap.min.css")}}" rel="stylesheet">


    </head>
		

    <body>

        
    </body>
</html>
